<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ $icon_size := "32px" }}
{{ with .Param "facebook" }}
<a aria-label="follow on Facebook——Opens in a new window" class="link-transition facebook link dib z-999 pt3 pt0-l mr1"
   href="{{ . }}" rel="noopener"
   target="_blank" title="Facebook link">
    {{ partial "svg/facebook.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
{{ with .Param "twitter" }}
<a aria-label="follow on Twitter——Opens in a new window" class="link-transition twitter link dib z-999 pt3 pt0-l mr1"
   href="{{ . }}" rel="noopener"
   target="_blank" title="Twitter link">
    {{ partial "svg/twitter.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
{{ with .Param "instagram" }}
<a aria-label="follow on Instagram——Opens in a new window"
   class="link-transition instagram link dib z-999 pt3 pt0-l mr1" href="{{ . }}" rel="noopener"
   target="_blank" title="Instagram link">
    {{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
{{ with .Param "youtube" }}
<a aria-label="follow on Youtube——Opens in a new window" class="link-transition youtube link dib z-999 pt3 pt0-l mr1"
   href="{{ . }}" rel="noopener"
   target="_blank" title="Youtube link">
    {{ partial "svg/youtube.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
{{ with .Param "linkedin" }}
<a aria-label="follow on LinkedIn——Opens in a new window" class="link-transition linkedin link dib z-999 pt3 pt0-l mr1"
   href="{{ . }}" rel="noopener"
   target="_blank" title="LinkedIn link">
    {{ partial "svg/linkedin.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
{{ with .Param "github" }}
<a aria-label="follow on Github——Opens in a new window" class="link-transition github link dib z-999 pt3 pt0-l mr1"
   href="{{ . }}" rel="noopener"
   target="_blank" title="Github link">
    {{ partial "svg/github.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
{{ with .Param "gitlab" }}
<a aria-label="follow on Gitlab——Opens in a new window" class="link-transition gitlab link dib z-999 pt3 pt0-l mr1"
   href="{{ . }}" rel="noopener"
   target="_blank" title="Gitlab link">
    {{ partial "svg/gitlab.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
{{ with .Param "medium" }}
<a aria-label="follow on Medium——Opens in a new window" class="link-transition medium link dib z-999 pt3 pt0-l mr1"
   href="{{ . }}" rel="noopener"
   target="_blank" title="Medium link">
    {{ partial "svg/medium.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
{{ with .Param "mastodon" }}
<a aria-label="follow on Mastodon——Opens in a new window" class="link-transition mastodon link dib z-999 pt3 pt0-l mr1"
   href="{{ . }}" rel="noopener"
   target="_blank" title="Mastodon link">
    {{ partial "svg/mastodon.svg" (dict "size" $icon_size) }}
    {{- partial "new-window-icon.html" . -}}
</a>
{{ end }}
